<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://enigmadigitaltwiniothubingestor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/28f373c4-dd79-4cd1-83a5-fbdff142aea5/resourceGroups/EnigmaDT_ResourceGroup/providers/Microsoft.Web/sites/EnigmaDigitalTwinIoTHubIngestor</ResourceId>
    <UserName>$EnigmaDigitalTwinIoTHubIngestor</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://enigmadigitaltwiniothubingestor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>